# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
venv/
.venv/
env/

# Flutter / Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.pub/
frontend/ios/Pods/
frontend/.env

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
